#titleHead{
  color: #FFCB05;
  text-shadow: -2px 3px 3px#003A70;
  outline-color:  #003A70;
  outline-width: 10px;
  font-family:'Pokemon Solid', sans-serif;
  font-size: 2cm;
  position: fixed;
  right: 770px;
  bottom: 700px;
}


#extrainfopkmn1 {
  background-color: #eff3ff;
  color: #73AD21;
  position: fixed;
  bottom: 400px;
  right: 1500px;
  width: 200px;
  
}

#extrainfopkmn2 {
  background-color: #eff3ff;
  color: #73AD21;
  position: fixed;
  bottom: 400px;
  right: 200px;
  width: 200px;
  
}

#pkmn2 {
    position: fixed;
    bottom: 400px;
    right: 500px;
    width: 300px;
    border: 3px solid #73AD21;
  }
img.fixed {
    position: fixed;
    bottom: 400px;
    right: 1300px;
    width: 300px;
    border: 3px solid #73AD21;
  }
  #pkmn1 {
    width: 100px;
    height: 100px;
    background-color: #eff3ff;;
    color: white;
    padding: 10px;
    cursor: move;
  }
  #b1{
    position:fixed;
    bottom: 600px;
    right: 1275px;
  }
  #b2{
    position:fixed;
    bottom: 600px;
    right:475px;
  }
  #pkmn2 {
    width: 100px;
    height: 100px;
    background-color: #eff3ff;;
    color: white;
    padding: 10px;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: #eff3ff;
  }

  .container {
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  #card {
    position: relative;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  #card img {
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
  }
  .hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
  }

  .poke-name {
    text-align: center;
    font-weight: 600;
  }
  .types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
  }
  .hp span,
  .types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
  }
  .types span {
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
  }


  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .stats p {
    color: #404060;
  }
  #health1{
    position: fixed;
    bottom: 350px;
    right: 1270px;
  }
  #health2{
    position: fixed;
    bottom: 350px;
    right: 470px;
  }
#hp1{
  position:fixed;
  bottom: 360px;
  right: 1270px;
}
#hp2{
  position:fixed;
  bottom: 360px;
  right: 470px;
}
img.attackIcon1 {
  position:fixed;
  bottom: 320px;
  right: 1400px;
  width: 20px;
}
#attack1 {
  position:fixed;
  bottom: 320px;
  right: 1380px;
  width: 20px;
}

#attackName1{
  font-size: small;
  position:fixed;
  bottom: 305px;
  right: 1400px;
  width: 20px;
}
#attackIcon2 {
  position:fixed;
  bottom: 320px;
  right: 600px;
  width: 20px;
}
#attack2 {
  position:fixed;
  bottom: 320px;
  right: 580px;
  width: 20px;
}

#attackName2{
  font-size: small;
  position:fixed;
  bottom: 305px;
  right: 600px;
  width: 20px;
}
img.hpIcon1
{
  position:fixed;
  bottom: 360px;
  right: 1250px;
  width: 20px;
}
img.hpIcon2{  
  position:fixed;
  bottom: 360px;
  right: 450px;
  width: 20px
}
#oneattack2{
  position:fixed;
  bottom: 350px;
  right: 1440px;
}
#twoattack1{
  position:fixed;
  bottom: 350px;
  right: 640px;
}
 #hpName1{
  font-size: medium;
  position:fixed;
  bottom: 360px;
  right: 1220px;
  width: 20px;
}
#hpName2{
  font-size: medium;
  position:fixed;
  bottom: 360px;
  right: 420px;
  width: 20px;
}
#defIcon1{
  position:fixed;
  bottom: 320px;
  right: 1250px;
  width: 20px;
}
#defense1{
  position:fixed;
  bottom: 317px;
  right: 1270px;
}
#defenseName1{  
  font-size: small;
  position:fixed;
  bottom: 307px;
  right: 1250px;

}
#defIcon2{
  position:fixed;
  bottom: 320px;
  right: 450px;
  width: 20px
}
#defense2{
  position:fixed;
  bottom: 317px;
  right: 470px;
}
#defenseName2{  
  font-size: small;
  position:fixed;
  bottom: 307px;
  right: 450px;

}
#spatkIcon1{
  position:fixed;
  bottom: 290px;
  right: 1250px;
  width: 20px;
}
#special-attack1{
  position:fixed;
  bottom: 283px;
  right: 1273px;
}
#spatkName1{
  font-size: small;
  position:fixed;
  bottom: 270px;
  right: 1250px;
}
#spatkIcon2{
  position:fixed;
  bottom: 290px;
  right: 450px;
  width: 20px
}
#special-attack2{
  position:fixed;
  bottom: 283px;
  right: 470px;
}
#spatkName2{  
  font-size: small;
  position:fixed;
  bottom: 270px;
  right: 450px;

}
#speedIcon1 {
  position:fixed;
  bottom: 285px;
  right: 1400px;
  width: 20px;
}
#speed1 {
  position:fixed;
  bottom: 283px;;
  right: 1380px;
  width: 20px;
}

#speedName1{
  font-size: small;
  position:fixed;
  bottom: 270px;
  right: 1400px;
  width: 20px;
}
#speedIcon2 {
  position:fixed;
  bottom: 285px;
  right: 600px;
  width: 20px;
}
#speed2 {
  position:fixed;
  bottom: 283px;
  right: 580px;
  width: 20px;
}

#speedName2{
  font-size: small;
  position:fixed;
  bottom: 270px;
  right: 600px;
  width: 20px;
}
#spdefIcon1{
  position:fixed;
  bottom: 260px;
  right: 1250px;
  width: 20px;
}
#special-defense1{
  position:fixed;
  bottom: 253px;
  right: 1273px;
}
#spdefName1{
  font-size: small;
  position:fixed;
  bottom: 240px;
  right: 1250px;
}
#spdefIcon2{
  position:fixed;
  bottom: 260px;
  right: 450px;
  width: 20px
}
#special-defense2{
  position:fixed;
  bottom: 253px;
  right: 470px;
}
#spdefName2{  
  font-size: small;
  position:fixed;
  bottom: 240px;
  right: 450px;

}
#name1{
font-style:italic ;
  position:fixed;
  bottom: 500px;
  right: 1318px;
}
#name2{
  font-style: italic;
  position:fixed;
  bottom: 500px;
  right:518px;
}
#StartBattle {
  position:fixed;
right: 950px;
bottom: 240px;
}